<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= cl_image_tag "school4.jpg", height: 40 %>
  <% end %>

  <!-- Right Navigation -->
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <a type='button' class="dropdown-toggle navbar-wagon-link" id="navbar-wagon-menu" data-toggle="dropdown"><%= current_user.name %></a>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu"> </p>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                  <p> <%= t(".sign_out", default: "Log out") %> </p>
              <% end %>
            </li>
            <li>
              <%= link_to user_reviews_reviews_path do %>
               <p> Meus posts </p>
              <%end%>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <div class="nav-links">
        <%= link_to t(".sign_up", default: "Cadastrar"), new_registration_path(:user), class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
    <% end %>

</div>

