
  <div class="details col-xs-12 col-sm-8 col-md-6">
      <a href=<%= school_path(school) %>>
      <div class="card-wrapper">
        <div class="imagewrap">
          <%= cl_image_tag school.photo, height: 140, width: 140, crop: :fill  %>
        </div>
        <div class="schoolinfo">
          <div class="school-name"> <%= link_to school.name, school_path(school) %> </div>
          <div class="stars"> <p> <% empty = 5 - school.reviews.average(:rating).to_i %>
            <% school.reviews.average(:rating).to_i.times do %>
            <i class="fas fa-star"></i>
            <% end %>
            <% empty.times do %>
            <i class="far fa-star"></i>
            <% end %> </p>
          </div>
          <div class="nota"> <%= school.reviews.count %> avaliações </div>
          <div class="nota"> Média: <%= school.reviews.average(:rating).to_f.round(1) %> </div>
        </div>
      </div>
  </div>
