<div class="banner" >

  <div class="banner-content">
    <div class="container">
        <div class="text-center col-xs-12 home-text">
          <h3> <strong> Ranking de Escolas </strong></h3>
          <h4>Leia as avaliações das instituições de ensino</h4>
          <h4>Fale sobre a sua escola</h4>
          <div class="formstyle">
            <div class="searchfield"> <%= form_tag schools_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Buscar por cidade ou nome" %> </div>
            <%= submit_tag 'Escolas' , class: "searchbutton btn btn-success"%>
            <% end %>
          </div>
        </div>
    </div>
  </div>
      <div class="littecardmargin">
        <div class="escapebanner">
          <hr>
          <p> Melhores escolas </p>
          <div class="divard">
            <% topschools = School.pick_top_schools %>
            <div id="myCarousel" class="carousel slide" data-interval="3000">
              <div class="carousel-inner" role="listbox">
                <div class="indicator-wrapper">
                  <ol class="carousel-indicators">
                    <% @topschools.each_with_index do |school, n| %>
                      <li data-target="#myCarousel" data-slide-to="<%= n %>" class="<%= n == 0 ? 'active' : '' %>">
                      </li>
                    <% end %>
                  </ol>
                </div>
                <div class="item active">
                  <div class="row">
                    <div class="carousel-wrapper">
                      <%= render "shared/schoolcard",
                        school: @topschools.first,
                        display_name: true %>
                    </div>
                  </div>
                </div>
                <% @topschools.drop(1).each do |topschool| %>
                  <div class="item">
                    <div class="row">
                      <div class="carousel-wrapper">
                        <%= render "shared/schoolcard",
                        school: topschool,
                        display_name: true %>
                      </div>
                    </div>
                  </div>
                <%end%>
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>

</div>
