<div class="back-img">
  <div class="container">
      <div class="divcard">
            <div class="styletitle">
              <% if School.search_by_city("#{params[:query]}").count != 0 %>
                <h5 class="text-center", style="color: white;"> Resultado: <%= "#{params[:query]}" %> </h5>
              <% elsif params[:query].present? == false %>
                <p class="text-center", style="color: white; margin-top: 10px;"> Todas as escolas!</p>
              <% elsif School.search_by_city("#{params[:query]}") == [] %>
                <h5 class="text-center", style="color: white;"> Ainda não temos escolas cadastradas em <%= "#{params[:query]}" %> </h5>
              <%end%>
                <p class="link-voltar"> <%= link_to "Nova busca", root_path %> </p>
            </div>
      </div>
      <div class="centercard">
      <% @schools.each do |school| %>
        <%= render 'shared/schoolcard',
            school: school,
            display_name: true %>
      <%end%>
      </div>
  </div>
  <div class="numeration"> <%= will_paginate @schools, renderer: BootstrapPagination::Rails, :previous_label => '<<', :next_label => '>>' %> </div>
</div>

