<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="name-wrap">
        <div class="name">
        <h4> <%= @school.name%> </h4>
        </div>
        <div class="link-voltar">
          <%= link_to "Voltar", schools_path %>
        </div>
      </div>
      <div class="schoolshow">
        <p> <% empty = 5 - @reviews.average(:rating).to_i %>
                  <% @reviews.average(:rating).to_i.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% empty.times do %>
                    <i class="far fa-star"></i>
                  <% end %> (<%= @school.reviews.count %> Avaliações) </p>
        <p> Endereço: <%= @school.address %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="aval-row">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" > <a href="#rev" aria-controls="rev" role="tab" data-toggle="tab"><p>Avaliações</p></a></li>
          <li role="presentation"> <%= link_to "Fotos", school_reviews_path(@school) %> </li>
        </ul>
        <div> <h5> <%= link_to "Deixe a sua avaliação", new_school_review_path(@school), class: "btn btn-primary" %></h5> </div>
      </div>

            <div role="tabpanel" class="tab-pane active" id="rev">
              <% count = 0 %>
              <% @reviews.each do |review| %>
                <% if review.content.present? %>
                    <% user = review.user_id%>
                    <div class="message">
                      <div class="message-name">
                      <h3><%= User.find(user).name %></h3>
                      <p><%= review.created_at.to_date %></p>
                      </div>
                      <div class="message-body">
                        <p><strong><%= review.content %></strong></p>
                        <p><%= review.rating %></p>
                      </div>
                      <div class="rev-photo">
                      <% if review.photo.present? %>
                        <%= cl_image_tag review.photo, height: 80, width: 80, crop: :fill %>
                      <% else %>
                        <%= image_tag "Sem-imagem.jpg", height: 80, width: 80, crop: :fill %>
                      <%end%>
                      </div>
                    </div>
                    <% count += 1%>
                    <% if count >= 5%>
                      <% break %>
                    <% end %>
                <%end%>
              <%end%>
            <% if count >= 5 %>
                <div class="text-center">
                <%= link_to "Ver todas", all_school_reviews_path(@school) %>
                </div>
            <% end %>
            </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="map-wrap">
        <h4> Localização: </h4>
          <div id="map" style="width: 100%; height: 400px;"
          data-markers="<%= @markers.to_json %>">
          </div>
      </div>
    </div>
  </div>
</div>

