<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4> Escola <%= @school.name%> (<% empty = 5 - @reviews.average(:rating).to_i %>
                  <% @reviews.average(:rating).to_i.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% empty.times do %>
                    <i class="far fa-star"></i>
                  <% end %>) </h4>
      <h4> Endereço: <%= @school.address %></h4>
      <p> <%= link_to "Comentar", new_school_review_path(@school) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Veja o que foi dito sobre a escola</h4>
      <% @reviews.each do |review| %>
        <ul>
          <li>  <%= review.content %> - <%= review.rating %></li>
        </ul>
      <%end%>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="map-wrap">
        <h4> Localização: </h4>
          <div id="map" style="width: 100%; height: 400px;"
          data-markers="<%= @markers.to_json %>">
          </div>
      </div>
    </div>
  </div>
</div>

