<div class="back-img">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="name-wrap">
          <div class="name">
          <h4> <%= @school.name%> </h4>
          </div>
          <div class="link-voltar">
            <%if flash[:last_search_path] != nil %>
              <%= link_to "Voltar", flash[:last_search_path] %>
            <% else %>
              <%= link_to "Voltar", schools_path %>
            <% end %>
          </div>
        </div>
        <div class="schoolshow">
          <p> <% empty = 5 - @school.reviews.average(:rating).to_i %>
            <% @school.reviews.average(:rating).to_i.times do %>
              <i class="fas fa-star"></i>
            <% end %>
              <% if @school.reviews.average(:rating).to_f - @school.reviews.average(:rating).to_i == 0  %>
                <% empty.times do %>
                  <i class="far fa-star"></i>
                  <%end%>
              <% else %>
                  <i class="fa fa-star-half-o"></i>
                  <% (empty - 1).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
              <% end %> (<%= @school.reviews.count %> Avaliações) </p>
          <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Endereço: <%= @school.address %> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="aval-row">
          <div class="tab-wrap">
              <p id="aval-tab"> Avaliações</p>
              <p id="fotolink"> <%= link_to "Fotos", all_photos_school_reviews_path(@school) %> </p>
          </div>
          <div> <%= link_to "Comentar!", new_school_review_path(@school), class: "btn-postar btn-primary" %> </div>
        </div>

              <div class="message-card">
                <% count = 0 %>
                <% sorted = @reviews.order(:created_at) %>
                <% sorted.reverse.each do |review| %>
                  <% if review.content.present? %>
                      <% user = review.user_id%>
                      <div class="message">
                        <div class="message-name">
                          <h3><%= User.find(user).name %></h3>
                          <p><%= review.created_at.to_date %></p>
                        </div>
                        <div class="message-body">
                          <p><strong><%= review.content %></strong></p>
                          <p> Nota: <%= review.rating %></p>
                          <%= link_to like_school_review_path(@school, id: review.id), method: :put, class: "btn btn-default" do %>
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                          <%end%>
                          <%= review.get_up_votes.size %>
                        </div>
                        <div class="rev-photo">
                        <% if review.photo.present? %>
                          <%= cl_image_tag review.photo, height: 80, width: 80, crop: :fill %>
                        <% else %>
                          <%= image_tag "Sem-imagem.jpg", height: 80, width: 80, crop: :fill %>
                        <%end%>
                        </div>
                      </div>
                      <% count += 1%>
                      <% if count >= 5%>
                        <% break %>
                      <% end %>
                  <%end%>
                <%end%>
              <% if count >= 5 %>
                  <div class="text-center link-voltar">
                  <%= link_to "Ver todas", school_reviews_path(@school) %>
                  </div>
              <% end %>
              </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="map-wrap">
          <h4> Localização: </h4>
            <div id="map" style="width: 100%; height: 400px;"
            data-markers="<%= @markers.to_json %>">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
