<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="name-wrap">
        <div class="name">
        <h4> Escola <%= @school.name%> </h4>
        </div>
        <div class="link-voltar">
          <%= link_to "Voltar", schools_path %>
        </div>
      </div>
       <p> <% empty = 5 - @reviews.average(:rating).to_i %>
                  <% @reviews.average(:rating).to_i.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% empty.times do %>
                    <i class="far fa-star"></i>
                  <% end %> (<%= @school.reviews.count %> Avaliações) </p>
      <h5> Endereço: <%= @school.address %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="aval-row">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#rev" aria-controls="rev" role="tab" data-toggle="tab"><p>Avaliações</p></a></li>
          <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab"> <p>Fotos</p></a></li>
        </ul>
        <div> <h5> <%= link_to "Deixe a sua avaliação", new_school_review_path(@school), class: "btn btn-primary" %></h5> </div>
      </div>

            <div role="tabpanel" class="tab-pane active" id="rev">
              <% @reviews.each do |review| %>
                <% if @school.reviews.count != 0 %>
                  <% user = review.user_id%>
                  <div class="message">
                    <div class="message-name">
                    <h3><%= User.find(user).email %></h3>
                    <p><%= review.created_at %></p>
                    </div>
                    <div class="message-body">
                      <p><strong><%= review.content %></strong></p>
                      <p><%= review.rating %></p>
                    </div>
                  </div>
                <%end%>
              <%end%>
            </div>

        <div role="tabpanel" class="tab-pane" id="photos">
            <% @reviews.each do |review| %>
              <% if @school.photos.count == 0 %>
                <% user = review.user_id%>
                <div class="message">
                    <div class="message-name">
                    <h3><%= User.find(user).email %></h3>
                    <p><%= review.created_at %></p>
                    </div>
                    <div class="message-body">
                      <p><strong><%= review.content %></strong></p>
                      <p><%= review.rating %></p>
                    </div>
                  </div>
              <%end%>
            <%end%>
        </div>


    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="map-wrap">
        <h4> Localização: </h4>
          <div id="map" style="width: 100%; height: 400px;"
          data-markers="<%= @markers.to_json %>">
          </div>
      </div>
    </div>
  </div>
</div>

