<div class="back-img">
  <div class="container">
    <div class="photo-header">
      <div class="photo-post">
        <h4> Fotos do(a) <%= @school.name %> </h4>
      </div>
      <div class="photolinks">
        <div class="link-voltar"><%= link_to "Voltar", school_path(@school) %></div>
        <div> <%= link_to "Nova foto!", new_school_review_path(@school), class: "btn-postar btn btn-primary" %> </div>
      </div>
    </div>
    <div class="container">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner" role="listbox">
          <ol class="carousel-indicators hidden">
           <% @photos.each_with_index do |pic, n| %>
              <% if pic.photo.present? %>
                <li data-target="#myCarousel" data-slide-to="<%= n %>" class="<%= n == 0 ? 'active' : '' %>"></li>
              <% end %>
           <% end %>
          </ol>
          <div class="item active">
            <%= cl_image_tag @photos.first.photo, class: "photorow photoajustpic" %>
          </div>
          <% @photos.drop(1).each do |pic| %>
            <% if pic.photo.present? %>
              <div class="item">
                <div class="photorow">
                  <div class="photoajustpic">
                    <%= image_tag pic.photo %>
                    <div class="like-pic">
                      <%= link_to like_school_review_path(@school, id: pic), method: :put, class: "btn btn-default" do %>
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                      <%end%>
                    </div>
                    <div class="likes-count">
                      <p> <%= pic.get_up_votes.size %> </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
