<div class="back-img">
  <div class="container">
    <div class="name-wrap">
      <div>
        <p> Meus posts </p>
      </div>
      <div class="link-voltar">
        <%#= link_to "Voltar pra escola!!", school_path(@school) %>
      </div>
    </div>
      <% sorted = @reviews.sort_by &:created_at %>
      <% sorted.reverse.each do |review| %>
        <% if review.content.present? %>
        <% user = review.user_id%>
          <div class="message review.id">
            <div class="message-name">
              <h3><%= User.find(user).name %></h3>
              <p><%= review.created_at.to_date %></p>
              <div class="edit-del-wrap">
                <div class="edit-del1">
                  <%= link_to "Editar", edit_review_path(review) %>
                </div>
                <div class="edit-del2">
                  <div edit-del2="<%review.id%>">
                    <%= link_to "Apagar", review_path(review), method: :delete, remote: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="message-body">
              <p><strong><%= review.content %></strong></p>
              <p>Nota: <%= review.rating %></p>
            </div>
            <div class="rev-photo">
              <% if review.photo.present? %>
              <%= cl_image_tag review.photo, height: 80, width: 80, crop: :fill %>
              <% else %>
              <%= image_tag "Sem-imagem.jpg", height: 80, width: 80, crop: :fill %>
              <%end%>
            </div>
          </div>
        <%end%>
      <%end%>
  </div>
</div>
